body {
}

.bordered {
  border: 3px dashed red;
}
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.carousel-container {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.slides-container {
  width: 100%;
  height: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrow-up {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 50%;
  transform: translateX(-50px);
}
.arrow-down {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50px);
}
